/*page styles*/

body {
  font-family: Helvetica;
  font-size: 18px;
  color: hsl(0, 2%, 33%);

}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: hsl(209, 59%, 37%);
}

.button:hover {
  background-color: hsl(209, 59%, 37%);
}

/*container 1 design*/
.container1 {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-color: white;
  width: 100%;

}

.logoname {
  margin-left: 24px;
  height: 3.5rem;
  align-items: center;
  display: flex;
}

.menu {
  display: inline-flex;
  margin-right: 16px;
  height: 3.5rem;
  align-items: center;
}

.spacer {
  padding-right: 8px;
  padding-left: 8px;
  background-color: hsl(188, 72%, 75%);
  height: inherit;
}

/*container 2*/
.container2 {
  width: 100%;
  background-color: hsl(0, 0%, 90%);
  position: relative;
  top: 3.5rem;
  display: inline-flex;
}

.imgcontent {
  width: 60%;
  margin: 1.75rem 1.4rem;
  display: inline-block;

}
.container2a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container2a h1 {
  padding-bottom: 1.5rem;
  line-height: 4rem;
}

.container2 h2 {
  padding-bottom: 3rem;
  line-height: 2.5rem;
}


.button {
  background-color: hsl(0, 2%, 33%);
  color: white;
  text-align: center;
  width: 26rem;
}

.button h2 {
  padding-top: .4rem;
  padding-bottom: .4rem;
}

/*container 3*/
.container3 {
  display: inline-flex;
  position: relative;
  top: 3.8rem;
  width: 100%;
}

.leftsectioncontent {
  display: inline-flex;
  flex-direction: column;
  width: 60%;
  margin: 1.75rem 1.4rem;
}

.leftsectioncontent img {
  margin-bottom: 1.75rem;
  width: auto;
}

.leftsectioncontent h1 {
  margin-bottom: 1.5rem;
  line-height: 4rem;
}

.leftsectioncontent p {
  font-size: 1.3rem;
  line-height: 1.75rem;
}

.rightsectioncontent {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid hsl(0, 0%, 90%);
}

.rightsidecontainer1 {
  display: inline-flex;
  margin-top: 1.75rem;
  align-items: center;
  max-height:
}

.rightsidecontainer1 img {
  width: auto;
  max-width: 35%;
  margin: 0 .9rem .9rem .9rem;
}

.rightsidecontainer1 .containerlist {
  width: 65%;
  text-align: left;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.details {
  margin-bottom: 1.5rem;
}

.readmore {
  color: hsl(209, 97%, 52%);
}

.rightsidecontainer3 {
  display: inline-flex;
  margin-top: 1.75rem;
  align-items: center;
  background-color: hsl(0, 0%, 90%);
}

.rightsidecontainer3 img {
  width: auto;
  max-width: 35%;
  margin: .9rem .9rem .9rem .9rem;
}

.rightsidecontainer3 .containerlist {
  width: 65%;
  text-align: left;
}

/*container 4*/
.container4 {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  top: 3.8rem;
  background-color: hsl(0, 0%, 90%);
  width: 100%;
}

.heading {
  text-align: center;
  width: 100%;
  margin-top: 1.8rem;
}

.subcont4 {
  width: inherit;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 1.8rem 3rem;
}

.coursecontainer {
  width: 30%;
  margin: .75rem .75rem;
  background-color: white;
  height: auto;
}

.coursecontainer img {
  width: auto;
  max-width: 100%;
}

.coursecontainer .title {
  margin: 1rem auto 1rem .75rem;
}

.courses {
  margin: 1rem auto 1rem .75rem;
}

.coursenames {
  margin: 1rem auto 1.5rem .75rem;
  line-height: 1.5rem;
}

/*container 5*/
.container5 {
  display: inline-flex;
  flex-flow: wrap;
  position: relative;
  top: 3.7rem;
  width: 100%;

}

.cont5bottom {
  display: inline-flex;
  width: 100%;
  border-bottom: 1px solid hsl(0, 0%, 90%);
}

.container6 {
  position: relative;
  top: 3.5rem;
}

.leftsectioncontent .video {
  max-width: 60%;
  padding-bottom: 1.5rem;
}

.leftsectioncontent h1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 4rem;
}

.leftsectioncontent p {
  margin-bottom: 1.5rem;
}

.cont5bottom .rightsectioncontent {
  border: none;
}

/*footer container 6*/
/*.container6 {
  border: 2px solid red;
  display: flex;
  width: 100%;
}*/

footer {
  display: flex;
  position: relative;
  top: 0;
  justify-content: space-between;
  margin-top: 1rem;
  margin-left: 1.5rem;
  height: 3rem;
}

nav span {
  margin-right: 1.5rem;
}
